/* font styles */
body {
    font-family: Open Sans;
}

/* common */
main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}

/* <!-- nav section start --> */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav_title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.list {
    margin-left: 50px;
}

.anchor {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.btn_primary {
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* banner section start */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_con {
    max-width: 500px;
}

.banner .dp {
    width: 500px;
}

.banner-greet {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner_title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner_para {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* about section start */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about_title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about_para {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.about_info_container {
    display: flex;
    justify-content: space-around;
}

.about_info {
    text-align: center;
}

.about_info_title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.about_info_para {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

/* <!-- what I do section start --> */
#what_i_do_para {
    padding: 30px 150px;
}

.skills_container {
    display: flex;
    gap: 24px;
}

.skills {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill_title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill_para {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* Resume Section Start */
.resume_container {
    display: flex;
    gap: 50px;
}

.resume_column_title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume_item_title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume_item_institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume_item_para {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.download_CV{
    text-align: center;
    margin-top: 50px;
}